.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.fieldLabel {
  display: flex;
  align-items: center;
  background-color: azure;
  justify-content: center;
}
.try{
  border-width: '10px';
  border-color: black;
  width:'300px';
  height: '450px';
}

.hovereffect:hover{
  box-shadow:7px 7px 15px gray,
}

